
body{
font-family: 'Roboto', sans-serif;
margin: 0px;
}

.nav li{
display: inline-block;
font-size: 18px;
padding:20px 30px;
color: white;
}

a {
color: white;
text-decoration: none;
}

a:hover{
color: white;
}

.li:hover {
background-color:lightblue;
color:black;
transition-duration: 0.4s;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.ul{
width: 40%;
margin: 0px;
margin-left: auto;
background-color:#024C6B;
}

h1 {
font-family: 'Roboto', sans-serif;
font-weight: 800;
}

h2{
font-family: 'Roboto', sans-serif;
font-weight: 400;
}

h3{
font-family: 'Roboto', sans-serif;
font-weight: 300;
}

h4{
font-family: 'Roboto', sans-serif;
font-weight: 100;
}

p {
font-family: 'Roboto', sans-serif;
font-size: 18px;
}

#logo{
height: 145px;
width: 210px;
background-image: url("../ux-portfolio/images/new-logo.png");
background-repeat: no-repeat;
background-position: center;
margin-left: 2%;
padding-top:5%;
}

.header{
width: 100%;
padding: 0%;
margin: 0px;
color: white;
background-color:#222222;
}

.hero{
max-width:100%;
height: 400px;
margin: 0px;
background-color:#E4F6F8;
background-repeat: no-repeat;
background-position: center;
}

/*
background-image: url("../design-portfolio/images/skyblue-hero.png");
*/

.buttonBox{
padding: 50px;
}

.heroButton{
background-color: #024C6B;
border: 0px;
border-radius: 20px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
transition-duration: 0.4s;
}

.heroButton:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
background-color: lightblue;
}

.herocontent{
width: 100%;
margin: 0px;
padding: 50px;
text-align: left;
color: black;
}

.intro{
display: flex;
flex-direction: row;
background-color: #E4F6F8;
}

.photoContainer{
max-width: 100%;
height: 80%;
margin-top: 2%;
margin-left: 2%;
background-repeat: no-repeat;
background-position: center;
}

.photo-gallery:hover{
transform: scale(1.5);
transition: transform .4s;
}

.introContainer{
max-width: 100%;
height: 80%;
margin: 0 auto;
padding: 0px 30px;
font-size: 20px;
text-align: left;
}

.flexContainer{
display: flex;
flex-direction: row;
background-color: #E4F6F8;
color: black;
}

/*
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    }

*/

.skill{
width: 100%;
margin: 0 auto;
padding: 15px;
}


.MyWorkTitle{
justify-content: center;
}

.project-image{
margin-left: 60px;
}

.project-image:hover{
transform: scale(1.5);
transition: transform .4s;
}

.recifit{
width: 100%;
height: 60%;
margin: 0 auto;
padding: 15px;
background-position: center;
}

.npo{
width: 100%;
height: 60%;
margin: 0 auto;
padding: 15px;
}

.finalProject{
width: 100%;
height: 60%;
margin: 0 auto;
padding: 15px;
}

#browse-my-work{
height: 70%;
}

/*
.myWork{
    width: 100%;
    height: 1100px;
    }
*/

.lowerButton{
background-color:#024C6B;
color: white;
font-style: bold;
border-radius: 20px;
padding: 13px 25px;
text-align: center;
text-decoration: none;
font-size: 16px;
transition-duration: 0.4s;
cursor: pointer;
}

.lowerButton:hover {
background-color:lightblue;
color: white;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.footerButton{
background-color:#024C6B;
border: 0px;
border-radius: 20px;
color: white;
padding: 13px 30px;
text-align: center;
text-decoration: none;
cursor: right;
justify-content: center;
display: inline-block;
position: relative;
top: 70%;
left: 83%;
transition-duration: 0.4s;
}

.footerButton:hover {
background-color:lightblue;
color: white;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*
transform: translate(-50%, -220%);
-ms-transform: translate(-50%, -50%);
*/


.footer{
background-color: #222222;
}

.FooterTopSection{
align-items: left;
color: white;
}

.FooterMidSection{
margin-top: 5%;
color: white;
}

.FooterIcons{
display: flex;
flex-direction: row;
justify-content: right;
margin-right: 8%;
}

#footerIconsCopy{
margin-left: 50px;
}

.resume{
padding: 5px;
}

.linkedIn{
padding: 5px;
}

.gallery{
padding: 5px;
}

.contact{
margin-top: 0px;
padding: 50px 0px 20px 0px;
justify-content: left;
margin-left: 50px;
}

.email{
padding: 0px;
justify-content: left;
margin-left: 50px;
}

.phone{
padding: 0px;
justify-content: left;
margin-left: 50px;
}

.FooterEndSection{
color:white;
margin: 0px;
}

.FooterMicrocopy{
text-align: center;
padding: 0.5%;
margin: 0px;
}

.Resume-LinkedIn{
display: flex;
flex-direction: column;
align-items: center;
background-color: #E4F6F8;
}

.ResumeImage:hover{
transform: scale(1.5);
transition: transform .4s;
}

.ResumeButton{
margin: 20px;
background-color: #024C6B;
border: 0px;
border-radius: 20px;
color: white;
padding: 13px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
transition-duration: 0.4s;
}

.ResumeButton:hover {
background-color:lightblue;
color: white;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.LinkedInButton{
margin: 20px;
background-color: #024C6B;
border: 0px;
border-radius: 20px;
color: white;
padding: 13px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
transition-duration: 0.4s;
}

.LinkedInButton:hover {
background-color:lightblue;
color: white;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.LinkedInImage:hover{
transform: scale(1.5);
transition: transform .4s;
}


/*
.nav-item{
    background-color:#202124;
    color: skyblue;
    }
    
    .nav-link{
    color: lightblue;
    }
    
    .nav-link:hover{
    color: lavender;
    }
    
    #myTab{
    background-color: #202124;
    }
    
    #myTabContent{
    background-color: #202124;
    }
    
    .jumbotron{
    background-color: lightblue;
    color: #202124;
    height: 400px;
    }


    h1{
    text-align: center;
    margin-top: 90px;
    font-weight:600;
    font-family: Roboto;
    }
    
    h2{
    text-align: center;
    padding: 20px;
    color: skyblue;
    font-family: Roboto;
    }
    
    h3{
    margin: 30px;
    }
    
    h5{
    text-align: center;
    }
    
    .overview-panel{
    justify-content: center;
    background-color:#202124;
    color: white;
    padding: 40px;
    }
    
    .process-overview-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#202124;
    }
    
    .card{
    background-color:#202124;
    color:white;
    }
    
    .overview-icon{
    display: flex;
    justify-content: center;
    color: white;
    }
    
    .icons{
    display: flex;
    justify-content: center;
    }
    
    .icon{
    padding: 30px;
    }
    
    #research-data-visualization{
    color:#202124;
    }
    
    #problem-statement-jumbotron{
    background-color:#202124;
    }
    
    #problem-statement-copy{
    color: white;
    }
    
    #blue-card{
    background-color: lightblue;
    }
    
    .mid-fi-img{
    display: flex;
    justify-content: center;
    }
    
    #mid-fi-title{
    background-color: lightblue;
    color: #202124;
    }
    
    #mid-fi-container{
    color: #202124;
    justify-content: center;
    }
    
    #high-fi-prototype-title{
    background-color:#202124;
    }
    
    #high-fi-container{
    color: #202124;
    justify-content: center;
    }
    
    .high-fi-img{
    display: flex;
    justify-content: center;
    }
    
    .media{
    background-color:#202124;
    color: white;
    }
    
    .usability-testing-copy{
    margin: 50px;
    }
    
    .ml-3{
    padding: 30px;
    }
    
    #solution-title{
    background-color:#202124;
    }
    